.register{
    background-color: rgb(242, 235, 248 , 0.7);
  position: absolute; /* Position the div relative to its closest positioned ancestor */
  top: 50%; /* Move the top of the div to the middle of the parent container */
  left: 50%; /* Move the left of the div to the middle of the parent container */
  transform: translate(-50%, -50%);
  padding: 70px;
  border-radius: 20px;
}

.reg-title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold ;

}

.registerform{
    align-content: center;
    margin: 10px 2px;
}

.inputs{
    border-radius: 2px;
    border: transparent;
    padding: 10px ;
    width: 300px;
    margin: 10px 5px;
    outline: none; 
  }

  #reg-submit{
    cursor: pointer;
    border: transparent;
    border-radius: 2px;
    background-color: rgb(54, 92, 245);
    padding: 4px 20px;
    color: white;
    margin-bottom: 3px;

}