<div class="cart container">
    <div class="cart-title" style="margin-top:10px ; font-weight:bolder;color:rgb(142, 32, 245)"><h1>Cart</h1></div>
    <hr/>
    
    <div class="items"  *ngFor = "let item of cart" >
        <div class="item row" style="display: flex;">
            <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
            style="width: 150px; height:150px;"
            
            />
            <div class="item-data col-4" style="margin-top: auto;
            margin-bottom: auto;">
                <div style="font-size: large;">{{item.product.title}}</div>
                <div >mrp:&nbsp;<span style="text-decoration:line-through">{{item.product.mrprice* item.quantity}}</span></div>
                <div style="font-size: medium;">price: Rs.{{item.product.price * item.quantity}}</div>
                <div>quantity:{{item.quantity}}</div>
            </div>
        
        </div>
        <hr style="width: 50%;"/>
    </div>
    <div style="margin: 10px;">
        mrp : {{totalmrp }}<br/>
        total discount : {{totalmrp - totalPrice}}<br/>
        price: {{totalPrice}}
    </div>
    
<button (click)="checkOut()" class="btn btn-warning" style="margin-top:20px">Pay now : {{totalPrice}} </button>
</div>

